@import '../variables';

.text-editor {
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  height: 100vh;
  text-align: left;
  outline: none;

  .lines-container {
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  .line, .hidden .size-check {
    min-height: 1.5em;
    line-height: 1.5em;
    font-size: 16px;
    margin: 0;
    padding: 0;
    &::selection { /* WebKit/Blink Browsers */
      background: $primary-colour-dark;
      color: $primary-colour-light;
    }
    &::-moz-selection { /* Gecko Browsers */
      background: $primary-colour-dark;
      color: $primary-colour-light;
    }
  }

  .caret {
    position: absolute;
    user-select: none;
  }
  &:focus .caret {
    border-left: 1px solid black;
    animation: blinker 1s linear infinite;
  }

  textarea {
    position: absolute;
    font-size: 14pt;
    height: 1em;
    width: 0px;
    outline: currentcolor none medium;
    resize: none;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: inherit;
    box-sizing: border-box;
  }

  .autocomplete-container {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    .suggestion {
      padding: 5px;
    }
    .selected {
      background-color: $primary-colour-dark;
      color: $primary-colour-light;
    }
  }

  .hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    .size-check {
      display: inline-block;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
