@import 'variables';

.App {
  text-align: center;
}

nav {
  padding: 15px;
  background-color: $primary-colour-dark;
  color: $primary-colour-light;
  text-align: right;
  a {
    margin: 0 10px;
    color: $primary-colour-light;
  }
}
