.documents-page {
  text-align: center;

  table {
    display: inline-block;
    margin: 20px;
    thead {
      background-color: #9a1f1f;
      color: #ffcaca;
      th {
        padding: 5px 20px;
      }
    }
    tbody {
      text-align: left;
      tr{
        &:nth-child(even) {
          background-color: #ffe6e6;
        }
        &:hover {
          background-color: #ffcaca;
        }
        td {
          padding: 5px 10px;
        }
        td:nth-child(2) {
          i.material-icons {
            color: black;
            cursor: pointer;
            &:hover {
              color: #9a1f1f;
            }
          }
        }
      }
    }
  }
}
