@import 'variables';

.input {
  box-sizing: border-box;
  display: inline-block;
  i.material-icons {
    cursor: pointer;
  }
  input[type='checkbox'] {
    display: none;
  }
  button {
    box-sizing: border-box;
    height: $input-height;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type='textfield'], input[type='password'] {
    box-sizing: border-box;
    height: $input-height;
  }
}
