.note-editor-page {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  .editor-container {
    .lines-container {
      resize: horizontal;
    }
  }
  .preview-container {
    text-align: left;
    padding: 20px;
    background-color: white;
    overflow: scroll;
  }
}
