@import 'variables';

body {
  background-color: rgb(240,240,240);
}

.annotation-container {
  .pdf-container {
    position: relative;
    display: inline-block;
  }

  .pdf-page-container {
    position: relative;
    text-align: center;
  }

  .annotation-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  canvas {
    border: 1px solid rgb(200,200,200);
  }

  .annotation {
    box-sizing: border-box;
    &.point {
      background-color: rgba(red,0.5);
      width: 10px;
      height: 10px;
      position: absolute;
      transform: translate(-5px,-5px);
    }
    &.rect {
      background-color: rgba(black,0.5);
      position: absolute;
      left: 0;
      top: 0;
      .control {
        position: absolute;
        border-radius: 5px;
        background-color: white;
        border: 1px solid black;
        width: 10px;
        height: 10px;
        transform: translate(-5px,-5px);
        &.nw {
          cursor: nw-resize;
          top:0;
          left:0;
        }
        &.n {
          cursor: n-resize;
          top:0;
          left:50%;
        }
        &.ne {
          cursor: ne-resize;
          top:0;
          left:100%;
        }
        &.sw {
          cursor: sw-resize;
          top:100%;
          left:0;
        }
        &.s {
          cursor: s-resize;
          top:100%;
          left:50%;
        }
        &.se {
          cursor: se-resize;
          top:100%;
          left:100%;
        }
        &.w {
          cursor: w-resize;
          top:50%;
          left:0;
        }
        &.e {
          cursor: e-resize;
          top:50%;
          left:100%;
        }
      }
    }
    &.selected {
      border: 1px solid black;
      cursor: move;
      &.point {
        box-shadow: 0 0 5px black;
      }
    }
  }

  .annotation-cards-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: black; /*Should not be visible*/
    transition: 0.2s ease;

    .card {
      width: 500px;
      background-color: white;
      border: 1px solid rgb(200,200,200);
      border-radius: 5px;
      padding: 10px;
      text-align: left;
      box-shadow: 3px 3px rgba(black,0.1);
      transform: translateX(-500px);
      transition: 0.2s ease;

      &.active, &:hover {
        transform: translateX(0);
        z-index: 1;
      }

      textarea {
        width: 100%;
        height: 200px;
      }

      .controls {
        text-align: left;
        border-top: 1px solid rgb(200,200,200);
        padding-top: 10px;
        span {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
  }

  > .controls {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    button {
      padding: 5px;
    }

    .active {
      background-color: $primary-colour-dark;
      color: $primary-colour-light;
    }
  }

  .doc-info-container {
    position: fixed;
    right: -15px; /*Hide scrollbar*/
    top: 0;
    height: 100vh;
    width: 250px;
    box-sizing: border-box;
    background-color: white;
    padding: 42px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    transition: 0.2s ease;
    box-shadow: -3px 5px 5px rgba(0,0,0,0.2);
    input, textarea {
      width: 100%;
    }
    &.hidden {
      right: calc(32px - 250px);
    }
    .controls {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      cursor: pointer;
      width: 32px;
      > * {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        background-color: grey;
      }
    }
  }
}
