body {
  background-color: rgb(240,240,240);
}

.annotation-container {
  .pdf-container {
    position: relative;
    display: inline-block;
  }

  .pdf-page-container {
    position: relative;
    text-align: center;
  }

  .annotation-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  canvas {
    border: 1px solid rgb(200,200,200);
  }

  .annotation {
    box-sizing: border-box;
    &.point {
      background-color: rgba(red,0.5);
      width: 10px;
      height: 10px;
      position: absolute;
      transform: translate(-5px,-5px);
    }
    &.rect {
      background-color: rgba(black,0.5);
      position: absolute;
      left: 0;
      top: 0;
      .control {
        position: absolute;
        border-radius: 5px;
        background-color: white;
        border: 1px solid black;
        width: 10px;
        height: 10px;
        transform: translate(-5px,-5px);
        &.nw {
          cursor: nw-resize;
          top:0;
          left:0;
        }
        &.n {
          cursor: n-resize;
          top:0;
          left:50%;
        }
        &.ne {
          cursor: ne-resize;
          top:0;
          left:100%;
        }
        &.sw {
          cursor: sw-resize;
          top:100%;
          left:0;
        }
        &.s {
          cursor: s-resize;
          top:100%;
          left:50%;
        }
        &.se {
          cursor: se-resize;
          top:100%;
          left:100%;
        }
        &.w {
          cursor: w-resize;
          top:50%;
          left:0;
        }
        &.e {
          cursor: e-resize;
          top:50%;
          left:100%;
        }
      }
    }
    &.selected {
      border: 1px solid black;
      cursor: move;
    }
  }

  .annotation-text-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(black,0.1);

    .card {
      position: absolute;
      min-width: 500px;
      background-color: white;
      border: 1px solid rgb(200,200,200);
      border-radius: 5px;
      padding: 10px;
      text-align: left;
      box-shadow: 3px 3px rgba(black,0.1);
      transform: translate(-400px,-50%);
      transition: 0.2s ease;

      &.active, &:hover {
        transform: translate(0,-50%);
        z-index: 1;
      }

      textarea {
        width: 100%;
        height: 200px;
      }

      .controls {
        text-align: left;
        border-top: 1px solid rgb(200,200,200);
        padding-top: 10px;
        span {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
  }

  > .controls {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
